<form (submit)="dodajSlona()">
        <div class="col-md-12">
            <div class="form-group">
                <label>Ime</label>
                <input name="ime" [(ngModel)]="noviSlon.ime" class="form-control" />
            </div>
            <div class="form-group">
                <label>Kilaza</label>
                <input name="kilaza" type="number" [(ngModel)]="noviSlon.kilaza" class="form-control" />
            </div>
            <div class="form-group">
                <label>Visina</label>
                <input name="visina" type="number" [(ngModel)]="noviSlon.visina" class="form-control" />
            </div>
        </div>
        
        <button class="btn btn-primary" type="submit">Dodaj</button>
    </form>